<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body>

    <header>
        <h1>Admin Panel</h1>
        <a href="/admin/add" class="btn">+ Add Project</a>
    </header>

    <main>
        <h2>Uploaded Projects</h2>
        <div class="project-container">
            <% projects.forEach(project => { %>
                <div class="project-card">
                    <img src="<%= project.imageUrl %>" alt="<%= project.title %>" class="project-image">
                    <h3><%= project.title %></h3>
                    <p><%= project.description %></p>
                    <button type="submit" class="delete-btn" data-id="<%=project._id %>">Delete</button>
                   
                   
                </div>
            <% }); %>
        </div>
    </main>
<script src="/js/admin.js"></script>
</body>
</html>
